#loginForm, #signUpForm, #logNameForm {
    text-align: right;
}

.buttons > * {
    margin-left: 10px;
}

.header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#nav {
    float: right;
}

#calcLayout {
    height: 400px;
}

.calc-button {
    width: 100%;
    height: 100%;
}

.calc-text-fields {
    width: 100%;
    box-sizing: border-box;
}

#calcTextArea {
    height: 100%!important;
}

.preformatted {
    white-space: pre-wrap;
}