<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<body>
<ui:composition>
    <h:panelGroup layout="block" styleClass="header" rendered="#{loginBean.loggedIn}">
        <h:outputText value="Hi, #{loginBean.user.userName}!"></h:outputText>

        <h:form id="nav" styleClass="buttons">
            <p:commandLink action="#{navigationBean.redirectToLogList}">
                <h:outputText value="My logs"></h:outputText>
            </p:commandLink>
            <p:commandLink action="#{loginBean.doLogout}">
                <h:outputText value="Quit"></h:outputText>
            </p:commandLink>
        </h:form>
    </h:panelGroup>
</ui:composition>
</body>
</html>