<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Error</title>
</h:head>
<h:body>
    <ui:composition template="../template/layout.xhtml">
        <ui:define name="header">
            <h:panelGroup layout="block" styleClass="header">
                Something went terribly wrong.
            </h:panelGroup>
        </ui:define>
        <ui:define name="content">
            <h1>ERROR!</h1>
        </ui:define>
    </ui:composition>
</h:body>
</html>