<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Login</title>
</h:head>
<h:body>
    <ui:composition template="../template/layout.xhtml">
        <ui:define name="header">
            <h:panelGroup layout="block" styleClass="header">
                Log in or create new user to access calculator.
            </h:panelGroup>
        </ui:define>
        <ui:define name="content">
            <h:form id="loginForm">
                <p:growl id="growl" sticky="true" showDetail="true" life="3000"/>

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="username" value="Username:"/>
                    <p:inputText id="username" value="#{loginView.username}"/>

                    <h:outputLabel for="password" value="Password:"/>
                    <p:password id="password" value="#{loginView.password}"/>

                    <f:facet name="footer">
                        <h:panelGroup layout="block" styleClass="buttons">
                            <p:commandButton value="Sign up" action="#{navigationBean.redirectToSignUp}"/>
                            <p:commandButton value="Login" update="growl" action="#{loginView.doLogin}"/>
                        </h:panelGroup>
                    </f:facet>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>