<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Sign up</title>
</h:head>
<h:body>
    <ui:composition template="../template/layout.xhtml">
        <ui:define name="header">
            <h:panelGroup layout="block" styleClass="header">
                Log in or create new user to access calculator.

                <h:form id="nav" styleClass="buttons">
                    <p:commandLink action="#{navigationBean.redirectToLogin}">
                        <h:outputText value="Back to log in"></h:outputText>
                    </p:commandLink>
                </h:form>
            </h:panelGroup>
        </ui:define>
        <ui:define name="content">
            <h:form id="signUpForm">
                <p:growl id="growl" sticky="true" showDetail="true" life="3000"/>

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="username" value="Username:"/>
                    <p:inputText id="username" value="#{signUpView.userName}" required="true" label="username"
                                 requiredMessage="Username is empty!"/>

                    <h:outputLabel for="password" value="Password:"/>
                    <p:password id="password" value="#{signUpView.password}" required="true" label="password"
                                requiredMessage="Password is empty!"/>

                    <f:facet name="footer">
                        <h:panelGroup layout="block" styleClass="buttons">
                            <p:commandButton value="Create new user" update="growl" action="#{signUpView.createNewUser}"/>
                        </h:panelGroup>
                    </f:facet>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>