<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Calculator</title>
</h:head>
<h:body>
    <ui:composition template="../template/layout.xhtml">
        <ui:define name="content">
            <p:layout id="calcLayout">
                <p:layoutUnit position="west" resizable="false" size="300">
                    <h:form>
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:inputText id="calcText" styleClass="calc-text-fields" readonly="true"
                                             value="#{calculatorView.exp}"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="7" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("7")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="8" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("8")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="9" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("9")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="/" styleClass="calc-button"
                                                 actionListener='#{calculatorView.commandAction("/")}'
                                                 update="calcText, calcTextArea"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="4" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("4")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="5" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("5")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="6" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("6")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="*" styleClass="calc-button"
                                                 actionListener='#{calculatorView.commandAction("*")}'
                                                 update="calcText, calcTextArea"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="1" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("1")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="2" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("2")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="3" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("3")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="-" styleClass="calc-button"
                                                 actionListener='#{calculatorView.commandAction("-")}'
                                                 update="calcText, calcTextArea"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="0" styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction("0")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="." styleClass="calc-button"
                                                 actionListener='#{calculatorView.insertAction(".")}'
                                                 update="calcText"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="=" styleClass="calc-button"
                                                 actionListener='#{calculatorView.commandAction("=")}'
                                                 update="calcText, calcTextArea"/>
                            </div>
                            <div class="ui-g-3">
                                <p:commandButton value="+" styleClass="calc-button"
                                                 actionListener='#{calculatorView.commandAction("+")}'
                                                 update="calcText, calcTextArea"/>
                            </div>
                            <div class="ui-g-6">
                                <p:commandButton value="Clear all" styleClass="calc-button"
                                                 actionListener='#{calculatorView.clearAll}' update="calcText"/>
                            </div>
                            <div class="ui-g-6">
                                <p:commandButton value="Save log" styleClass="calc-button"
                                                 onclick="PF('dlg').show();"/>
                            </div>
                        </div>
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <p:inputTextarea styleClass="calc-text-fields" scrollHeight="100" readonly="true" id="calcTextArea"
                                     value="#{calculatorLogView.logs}"/>
                </p:layoutUnit>
            </p:layout>

            <p:dialog header="Choose log name" widgetVar="dlg" resizable="false">
                <h:form id="logNameForm">
                    <p:growl id="growl" sticky="true" showDetail="true" life="3000"/>

                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="logname" value="Log name:"/>
                        <h:inputText id="logname" value="#{calculatorLogView.name}" required="true"
                                     requiredMessage="Log name is empty!"/>
                        <f:facet name="footer">
                            <h:panelGroup layout="block" styleClass="buttons">
                                <p:commandButton value="Save" action="#{calculatorLogView.createNewLog}"
                                                 update="growl"/>
                            </h:panelGroup>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>