<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
>

<h:head>
    <title>Login</title>
</h:head>
<h:body>
    <ui:composition template="../template/layout.xhtml">
        <ui:define name="header">
            <h:panelGroup layout="block" styleClass="header">
                <h:outputText value="Hi, #{loginBean.user.userName}!"></h:outputText>

                <h:form id="nav" styleClass="buttons">
                    <p:commandLink action="#{navigationBean.redirectToCalculator}">
                        <h:outputText value="Calculator"></h:outputText>
                    </p:commandLink>
                    <p:commandLink action="#{loginBean.doLogout}">
                        <h:outputText value="Quit"></h:outputText>
                    </p:commandLink>
                </h:form>
            </h:panelGroup>
        </ui:define>
        <ui:define name="content">
            <h:form id="logListForm">
                <p:dataList value="#{logListView.logList}" var="log" type="unordered" itemType="none">
                    <p:commandLink value="#{log.name}" oncomplete="PF('dlg').show(); return false;"
                                   actionListener="#{logListView.setSelectedLog(log)}" update="logDlg"/>
                </p:dataList>
            </h:form>

            <p:dialog header="#{logListView.selectedLog.name}" id="logDlg" widgetVar="dlg" resizable="false">
                <h:outputText value="#{logListView.selectedLog.logs}" styleClass="preformatted" />
            </p:dialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>